/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  font-size: 15px;
  color: #565656;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
a,
button,
a span {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn.extra-width {
  padding: 13px 40px;
}
.btn:focus,
.btn:active {
  outline: inherit;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*    direction: rtl;*/
}
p {
  margin: 0 0 15px;
}
.clear {
  clear: both;
}
/*ol,
ul {
    list-style: none;
    padding: 0;
}*/

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}
h4,
h5 {
  font-weight: 300;
  margin: 0;
  line-height: 2rem;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
}
h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 0.9rem;
}
h3 {
  font-weight: 300;
  margin-bottom: 0.9rem;
  font-size: 2.1rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.1rem;
}
h5 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
h6 {
  font-size: 1rem;
  margin-bottom: 0.9rem;
}
p {
  line-height: 1.5rem;
  font-size: 1.1rem;
}
p:last-child {
  margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
  color: #ffffff;
}
.text {
  color: #333333;
}
.colorstext {
  color: #f56363;
}
.coloricon i {
  color: #f56363;
}
.colorsbg {
  background: #f56363;
  color: #ffffff;
}

/*
Section
*/
.sections {
  position: relative;
  overflow: hidden;
}
.sections2 {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.sections.footer {
  padding-bottom: 80px;
}
section .subtitle h5 {
  margin-top: 10px;
  font-size: 1.3rem;
  font-family: "roboto", sans-serif;
}
.parallax-section {
  max-width: 100%;
  color: #ffffff;
}
section .title-half h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
  font-weight: 100;
  font-size: 12px;
}

.heading {
  margin-bottom: 4rem;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 750px;
}
.overlay-fluid-block {
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
}
.home-overlay-fluid {
  background-color: rgba(41, 41, 41, 0.68);
  width: 80%;
  margin: auto;
}
.overlay-img {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
}
.no-padding {
  padding: 0 !important;
}
.fluid-blocks-col {
  padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
  padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
  height: 2px;
  width: 80px;
  margin: auto;
  background: #ededed;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled {
  color: #ffffff;
  background-color: #64c583;
  border-color: #f56363;
}
.btn-primary:hover {
  background-color: #64c583;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.728571;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  width: 200px;
  height: 50px;
  padding: 1em;
}

.btn-default {
  border-radius: 0px;
  background: #82ca9c;
  color: #ededed;
  border: 0;
  padding: 12px 15px;
  max-width: 160px;
  margin-top: 20px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: rgba(0, 173, 62, 0.75);
  border-color: transparent;
}

.input-lg,
.form-group-lg .form-control {
  height: 46px;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0;
}
.btn-lg,
.btn-group-lg > .btn {
  font-size: 18px;
  line-height: 26px;
  border-radius: 0;
  background: #82ca9c;
  border: 0;
  padding: 10px 25px;
}
.input-group button a i {
  color: #fff;
}

/*
Extra height css
*/
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.padding-top-20 {
  padding-top: 1.33rem;
}
.padding-bottom-20 {
  padding-bottom: 1.33rem;
}
.padding-top-40 {
  padding-top: 2.66rem;
}
.padding-bottom-40 {
  padding-bottom: 2.66rem;
}
.padding-top-60 {
  padding-top: 5rem;
}
.padding-bottom-60 {
  padding-bottom: 5rem;
}
.padding-bottom-0 {
  padding-bottom: 0;
}
/*padding*/
.padding-twenty {
  padding: 10px 0;
}
.padding-fourty {
  padding: 20px 0;
}
.padding-sixty {
  padding: 30px 0;
}
.padding-eighty {
  padding: 40px 0;
}
h1 span {
  color: #f56363;
  font-weight: 400;
}

.single_features_left img {
  height: 460px;
}
.single_features_right {
  margin-top: 10%;
}

.single_features_right h2 {
  margin-bottom: 40px;
  font-size: 40px;
  color: #222222;
}

.single_features_right p {
  font-size: 18px;
}
.single_features_right ul li {
  font-size: 18px;
  margin-top: 3%;
}

/* Service2 Section */
.service2 {
}
.service_content {
  width: 90%;
  margin: 0 auto;
}

.single_service2 {
  margin-top: 90px;
}
.single_service_left {
  display: inline-block;
}
.single_service2 img {
  width: 70px;
  margin-top: -70px;
}

.single_service2 .single_service_right {
  display: inline-block;
  width: 70%;
  padding-left: 20px;
  overflow: hidden;
}
.single_service_right h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}
.single_service_right p {
  font-size: 18px;
  color: #777777;
}

/*For Price Section*/
.cd-header {
  height: 100px;
  line-height: 170px;
  position: relative;
}
.cd-header h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2.2rem;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 160px;
    line-height: 280px;
  }
  .cd-header h1 {
    font-size: 3.6rem;
    font-weight: 300;
  }
}

.cd-pricing-container {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-container {
    margin: auto;
  }
  .cd-pricing-container.cd-full-width {
    width: 100%;
    max-width: none;
  }
}

.cd-pricing-switcher {
  text-align: center;
}
.cd-pricing-switcher .fieldset {
  display: inline-block;
  position: relative;
  padding: 2px;
  border-radius: 50em;
  background: #82ca9c;
}
.cd-pricing-switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.cd-pricing-switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  float: left;
  width: 90px;
  height: 35px;
  line-height: 40px;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
}
.cd-pricing-switcher .cd-switch {
  /* floating background */
  position: absolute;
  top: 2px;
  left: 2px;
  height: 40px;
  width: 90px;
  background-color: #0c1f28;
  border-radius: 50em;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
.cd-pricing-switcher input[type="radio"]:checked + label + .cd-switch,
.cd-pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .cd-switch {
  /* use label:nth-of-type(n) to fix a bug on safari with multiple adjacent-sibling selectors*/
  -webkit-transform: translateX(90px);
  -moz-transform: translateX(90px);
  -ms-transform: translateX(90px);
  -o-transform: translateX(90px);
  transform: translateX(90px);
}

.no-js .cd-pricing-switcher {
  display: none;
}

.cd-pricing-list {
  margin: 2em 0 0;
}
.cd-pricing-list > li {
  position: relative;
  margin-bottom: 1em;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-list {
    margin: 3em 0 0;
    display: flex;
    justify-content: center;
  }
  .cd-pricing-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-pricing-list > li {
    width: 33.3333333333%;
    float: left;
  }
  .cd-has-margins .cd-pricing-list > li {
    width: 32.3333333333%;
    float: left;
    margin-right: 1.5%;
  }
  .cd-has-margins .cd-pricing-list > li:last-of-type {
    margin-right: 0;
  }
}

.cd-pricing-wrapper {
  /* this is the item that rotates */
  position: relative;
}
.touch .cd-pricing-wrapper {
  /* fix a bug on IOS8 - rotating elements dissapear*/
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.cd-pricing-wrapper.is-switched .is-visible {
  /* totate the tables - anticlockwise rotation */
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-animation: cd-rotate 0.5s;
  -moz-animation: cd-rotate 0.5s;
  animation: cd-rotate 0.5s;
}
.cd-pricing-wrapper.is-switched .is-hidden {
  /* totate the tables - anticlockwise rotation */
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse 0.5s;
  -moz-animation: cd-rotate-inverse 0.5s;
  animation: cd-rotate-inverse 0.5s;
  opacity: 0;
}
.cd-pricing-wrapper.is-switched .is-selected {
  opacity: 1;
}
.cd-pricing-wrapper.is-switched.reverse-animation .is-visible {
  /* invert rotation direction - clockwise rotation */
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: cd-rotate-back 0.5s;
  -moz-animation: cd-rotate-back 0.5s;
  animation: cd-rotate-back 0.5s;
}
.cd-pricing-wrapper.is-switched.reverse-animation .is-hidden {
  /* invert rotation direction - clockwise rotation */
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse-back 0.5s;
  -moz-animation: cd-rotate-inverse-back 0.5s;
  animation: cd-rotate-inverse-back 0.5s;
  opacity: 0;
}
.cd-pricing-wrapper.is-switched.reverse-animation .is-selected {
  opacity: 1;
}
.cd-pricing-wrapper > li {
  background-color: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Firefox bug - 3D CSS transform, jagged edges */
  outline: 1px solid #ededed;
}
.cd-pricing-wrapper > li::after {
  /* subtle gradient layer on the right - to indicate it's possible to scroll */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  pointer-events: none;
  background: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}
.cd-pricing-wrapper > li.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  display: none;
}
.cd-pricing-wrapper .is-visible {
  /* the front item, visible by default */
  position: relative;
  z-index: 5;
}
.cd-pricing-wrapper .is-hidden {
  /* the hidden items, right behind the front one */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cd-pricing-wrapper .is-selected {
  /* the next item that will be visible */
  z-index: 3 !important;
}
@media only screen and (min-width: 768px) {
  .cd-pricing-wrapper > li::before {
    /* separator between pricing tables - visible when number of tables > 3 */
    content: "";
    position: absolute;
    z-index: 6;
    left: -1px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color: #b1d6e8;
  }
  .cd-pricing-wrapper > li::after {
    /* hide gradient layer */
    display: none;
  }
  .cd-popular .cd-pricing-wrapper > li {
    box-shadow: inset 0 0 0 3px #e97d68;
  }
  .cd-has-margins .cd-pricing-wrapper > li,
  .cd-has-margins .cd-popular .cd-pricing-wrapper > li {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  .cd-secondary-theme .cd-pricing-wrapper > li {
    background: #3aa0d1;
    background: -webkit-linear-gradient(bottom, #3aa0d1, #3ad2d1);
    background: linear-gradient(to top, #3aa0d1, #3ad2d1);
  }
  .cd-secondary-theme .cd-popular .cd-pricing-wrapper > li {
    background: #e97d68;
    background: -webkit-linear-gradient(bottom, #e97d68, #e99b68);
    background: linear-gradient(to top, #e97d68, #e99b68);
    box-shadow: none;
  }
  :nth-of-type(1) > .cd-pricing-wrapper > li::before {
    /* hide table separator for the first table */
    display: none;
  }
  .cd-has-margins .cd-pricing-wrapper > li {
    border-radius: 4px 4px 6px 6px;
  }
  .cd-has-margins .cd-pricing-wrapper > li::before {
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  .cd-full-width .cd-pricing-wrapper > li {
    padding: 2.5em 0;
  }
}

.no-js .cd-pricing-wrapper .is-hidden {
  position: relative;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  margin-top: 1em;
}

@media only screen and (min-width: 320px) {
  .cd-popular .cd-pricing-wrapper > li::before {
    /* hide table separator for .cd-popular table */
    display: none;
  }

  .cd-popular + li .cd-pricing-wrapper > li::before {
    /* hide table separator for tables following .cd-popular table */
    display: none;
  }
}
.cd-pricing-header {
  position: relative;
  z-index: 1;
  height: 80px;
  padding: 1em;
  pointer-events: none;
  color: #ffffff;
  border: 1px solid #82ca9c;
}
.cd-pricing-header h2 {
  margin-bottom: 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.cd-popular .cd-pricing-header {
  background-color: #e97d68;
}
@media only screen and (min-width: 320px) {
  .cd-pricing-header {
    height: auto;
    padding: 1.9em 0.9em 1.6em;
    pointer-events: auto;
    text-align: center;
    color: #000;
    font-size: 14px;
  }
  .cd-popular .cd-pricing-header {
    color: #fff;
    background: #82ca9c;
  }
  .cd-secondary-theme .cd-pricing-header {
    color: #ffffff;
  }
  .cd-pricing-header h2 {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.cd-currency,
.cd-value {
  font-size: 3rem;
  font-weight: 300;
}

.cd-duration {
  font-weight: 700;
  font-size: 1.3rem;
  color: #8dc8e4;
  text-transform: uppercase;
}
.cd-popular .cd-duration {
  color: #f3b6ab;
}
.cd-duration::before {
  content: "/";
  margin-right: 2px;
}

@media only screen and (min-width: 320px) {
  .cd-value {
    font-size: 23px;
    font-weight: 300;
  }

  .cd-currency,
  .cd-duration {
    color: #000;
  }
  .cd-popular .cd-currency,
  .cd-popular .cd-duration {
    color: #ededed;
  }
  .cd-secondary-theme .cd-currency,
  .cd-secondary-theme .cd-duration {
    color: #2e80a7;
  }
  .cd-secondary-theme .cd-popular .cd-currency,
  .cd-secondary-theme .cd-popular .cd-duration {
    color: #ba6453;
  }

  .cd-currency {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    font-size: 23px;
    font-weight: 700;
  }

  .cd-duration {
    font-size: 1rem;
  }
}
.cd-pricing-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.is-switched .cd-pricing-body {
  /* fix a bug on Chrome Android */
  overflow: hidden;
}
@media only screen and (min-width: 320px) {
  .cd-pricing-body {
    overflow-x: visible;
  }
}

.cd-pricing-features {
  width: 600px;
}
.cd-pricing-features:after {
  content: "";
  display: table;
  clear: both;
}
.cd-pricing-features li {
  width: 100px;
  float: left;
  padding: 1.6em 1em;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cd-pricing-features em {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}
@media only screen and (min-width: 320px) {
  .cd-pricing-features {
    width: auto;
  }
  .cd-pricing-features li {
    float: none;
    width: auto;
    padding: 1em;
  }
  .cd-popular .cd-pricing-features li {
    margin: 0 3px;
  }

  .cd-pricing-features em {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
  }
  .cd-has-margins .cd-popular .cd-pricing-features li,
  .cd-secondary-theme .cd-popular .cd-pricing-features li {
    margin: 0;
  }
  .cd-secondary-theme .cd-pricing-features li {
    color: #ffffff;
  }
  .cd-secondary-theme .cd-pricing-features li:nth-of-type(2n + 1) {
    background-color: transparent;
  }
}

.cd-pricing-footer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* on mobile it covers the .cd-pricing-header */
  height: 80px;
  width: 100%;
}
.cd-pricing-footer a {
  background: #82ca9c;
  color: #fff;
}

.cd-pricing-footer::after {
  /* right arrow visible on mobile */
  content: "";
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: red;
}
@media only screen and (min-width: 320px) {
  .cd-pricing-footer {
    position: relative;
    height: auto;
    text-align: center;
  }
  .cd-pricing-footer::after {
    /* hide arrow */
    display: none;
  }
  .cd-has-margins .cd-pricing-footer {
    padding-bottom: 0;
  }
}

.cd-select {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: #000;
}
@media only screen and (min-width: 320px) {
  .cd-select {
    position: static;
    display: inline-block;
    height: auto;
    padding: 1.3em 3em;
    color: #000;
    border-radius: 2px;
    font-size: 1rem;
    text-indent: 0;
    text-transform: uppercase;
  }
  .no-touch .cd-select:hover {
    color: #112e3c;
  }
  .cd-popular .cd-select {
    color: #fff;
    background: #82ca9c;
  }
  .no-touch .cd-popular .cd-select:hover {
    color: #000;
  }
  .cd-secondary-theme .cd-popular .cd-select {
    color: #0c1f28;
  }
  .no-touch .cd-secondary-theme .cd-popular .cd-select:hover {
    color: #112e3c;
  }
  .cd-has-margins .cd-select {
    display: block;
    padding: 1.7em 0;
    border-radius: 0 0 4px 4px;
  }
}
